.post-list {
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.post-item {
    margin-bottom: 60px;
}

.post-item .card-header {
    display: flex;
    justify-content: space-between;
}

.post-user,
.post-community {
    display: flex;
    align-items: center;
}

.post-item .post-profile-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post-item .card-body {
    display: flex;
    flex-direction: row;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 0.75em;
}

.post-details-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-date {
    font-size: 0.8em;
}

.post-item .post-img {
    width: 25%;
    height: 25%;
}

.post-item .card-footer {
    display: flex;
    justify-content: space-between;
}

.post-item .post-votes span {
    padding: 0 10px;
}

.post-item .post-comments > a > span {
    padding-left: 10px;
}

.post-item .card-footer .card-link {
    color: inherit;
}

.post-item .post-options button::after {
    content: none;
}

.profile-header ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.profile-header li {
    padding: 0 10px;
}

.profile-header li:first-child {
    padding-left: 0;
}

.profile-username {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-modal .modal-title {
    text-transform: capitalize;
}

.profile-modal ul {
    list-style: none;
    padding: 0;
}

.profile-modal li {
    padding: 5px;
}

.profile-modal li img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.profile-modal .modal-body {
    max-height: 430px;
    overflow: auto;
}
